.nutritionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    height: 100%;
}

.dataChart {
    background-color: white;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar {
    background-color: #e1e1e1;
    height: 10px;
    width: 200px;
    border: 1px solid rgb(154, 154, 154);
}

.progressDone {
    height: 10px;
    background-color: #43b3ee;
}