.progressBar {
    background-color: #e1e1e1;
    height: 10px;
    width: 200px;
    border: 1px solid rgb(189, 189, 189);
}

.progressDone {
    height: 10px;
    max-width: 200px;
    background-color: #43b3ee;
}

.progressFull {
    width: 200px;
    height: 10px;
    background-color: #16f29e;
    z-index: 1;
}